*{
    margin:0px;
    padding:0px;
}

#header{
    width:100vw;
    height:8vh;

    color:white;
    background-color:black;
}

#footer{
    width:100vw;
    height:8vh;

    color:white;
    background-color:black;
}

.box1{
    display:inline-block;
    width:50vw;
    height:65vh;

    background-color:cadetblue;
}

#login{
    display:inline-block;

    width:100px;
    height:50px;

    margin-top:30px;
    margin-left:500px;

    background-color:white;
}

#signup{
    display:inline-block;

    width:100px;
    height:50px;

    margin-top:30px;
    margin-left:40px;

    background-color:white;
}