*{
    margin:0px;
    padding:0px;
}

#header{
    width:100vw;
    height:8vh;

    color:white;
    background-color:black;
}

#footer{
    width:100vw;
    height:8vh;

    color:white;
    background-color:black;
}

.box1{
    display:block;
    width:50vw;
    height:65vh;

    float:left;

    background-color:cadetblue;
}

#login{
    display:inline-block;

    width:100px;
    height:50px;

    margin-top:30px;
    margin-left:500px;

    background-color:white;
}

#search_button{
    display:flex;

    width:100px;
    height:58px;

    margin-top:-58px;
    margin-left:575px;

    justify-content:center;
    align-items:center;

    background-color:white;
}

#search{
    display:inline-block;

    width:500px;
    height:56px;

    margin-left:72px;
    margin-top:95px;
}

#signup{
    display:inline-block;

    width:100px;
    height:50px;

    margin-top:30px;
    margin-left:40px;

    background-color:white;
}

#cities{
    margin-top:150px;
}

#slider{
    width:768px;
    height:475px;
}

.webimage1{
    width:33vw;
    height:42vh;
    margin-left:15px;
    margin-top:10px;
}

.webimage2{
    width:33vw;
    height:42vh;
    margin-left:10px;
    margin-top:10px;
}

.webimage3{
    width:30vw;
    height:42vh;
    margin-left:10px;
    margin-top:10px;
}

#box2{
    height:44vh;
    width:100vw;

    background-color: darkgray;
}

#app-promotion{
    width:50vw;
    height:80vh;

    margin-left:380px;
}